/* .navbar-brand {
  src: url("./robot.svg");
} */

.container-fluid{
height: 60px;
}
.avatar img {
  border-radius: 200px;
}
.nav img {
  border-radius: 50%;
}
.dropdown {
  position: relative;
  
}
.nav{
  position: relative;
}
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #d1b4b4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 4;
}
.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
<<<<<<< HEAD
 
=======
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
#light {
  background-color: #f1f1f1;
}
#dark {
  background-color: black;
>>>>>>> 229181116d734019c914d90085584361fb1d6616
}
